@{
    ViewBag.Title = "OutOfBoxGen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Corporate website that emphasizes on the Digital upscale and provide those services to the startups. They believe that  growing together is the key to a healthy business.";
    ViewBag.Keywords = "Michelle, Sequeira, Thane, Mumbai, UI, UX, Designer, portfolio, Projects, Templates, Out Of Box Gen";
    ViewBag.ogTitle = "Michelle Sequeira | Out Of Box Gen";
    ViewBag.Img = "Content/Images/oobg/home.png";
}

<style>
    .temp-name {
        text-align: center;
        padding: 4.5rem 0;
    }

    .work-ellipse {
        font-size: 2.3rem;
        padding: 50px 70px 10px;
        background-color: var(--bg);
        border-radius: 50% / 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--text);
        width: fit-content;
        margin: auto;
    }


    .temp-name h1 {
        font-size: 4rem;
        letter-spacing: 2px;
    }

    .work-info h2 {
        font-size: 2.9rem;
        letter-spacing: 2px;
    }

    .temp-name p {
        padding-top: 2rem;
        max-width: 390px;
        margin: 0 auto;
    }

    .temp-imgs {
        padding: 3rem 0;
    }

        .temp-imgs img {
            padding-bottom: 1rem;
        }

    @@media(max-width: 600px) {
        .work-ellipse {
            font-size: 2.3rem;
            padding: 50px 33px 10px;
        }

        .temp-name h1 {
            font-size: 2rem;
        }

        .temp-name p {
            font-size: 0.8rem;
            padding: 1rem 2rem;
            font-weight: 200;
        }

        .temp-name {
            padding: 4.5rem 0 0;
        }
    }
</style>

<div class="temp-name">
    <h1 class="work-ellipse">Out Of Box Gen</h1>
    <p>
        A Corporate website that emphasizes on the Digital 
        upscale and provide those services to the startups. 
        They believe that  growing together is the key to a healthy business.
    </p>
</div>

<div class="temp-imgs container">
    <div class="row d-lg-flex d-md-none d-xs-flex">
        <div class="col-lg-4 col-sm-12">
            <img src="~/Content/Images/oobg/home.png" />
        </div>
        <div class="col-lg-4 col-sm-12">
            <img src="~/Content/Images/oobg/PWS.png" />
            <img src="~/Content/Images/oobg/SEO.png" />
        </div>
        <div class="col-lg-4 col-sm-12">
            <img src="~/Content/Images/oobg/archive_main.jpg" />
            <img src="~/Content/Images/oobg/nav bar.png" />
            <img src="~/Content/Images/oobg/About us.jpg" />
        </div>
    </div>

    <div class="row d-lg-none d-sm-none d-xs-none d-none d-md-flex ">
        <div class="col-6">
            <img src="~/Content/Images/oobg/home.png" />
            <img src="~/Content/Images/oobg/About us.jpg" />
        </div>
        <div class="col-6">
            <img src="~/Content/Images/oobg/PWS.png" />
            <img src="~/Content/Images/oobg/SEO.png" />
            <img src="~/Content/Images/oobg/archive_main.jpg" />
            <img src="~/Content/Images/oobg/nav bar.png" />
        </div>
    </div>
</div>